@charset "UTF-8";

body {
    background-image: url('../img/millionaire-logo.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

button {
    width: 250px;
    height: 80px;
}

h1, p {
    color: aliceblue;
}

.center {
    width: 300px;
    height: 380px;
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-150px;/* half width*/
    margin-top:-155px;/* half height*/
    padding-left: 25px;
    border-style: solid;
    border-color: aliceblue;
    background-color: #362255;
}

.center-button {
    display: block;
    margin: 0 auto;
}