@charset "UTF-8";

body {
    background-image: url('../img/game-background.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}

h1 {
    text-align: center;
    font-size: 160px;
    font-weight: bold;
    color: #dc9c4a;
    margin-bottom: 0;
    margin-top: 0;
}

h2 {
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    color: #dc9c4a;
    margin-bottom: 0;
    margin-top: 0;
}

h3 {
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
}

.center {
    width: 800px;
    height: 410px;
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-400px;
    margin-top:-155px;
    background-color: rgba(0, 0, 139, 0.7);
}

.mainMenuButton {
    width: 300px;
    height: 60px;
    text-align: left;
    font-size: 26px;
    font-weight: bold;
    background-color: rgba(0, 0, 139, 0.5);
    color: whitesmoke;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 30px;
    border: aliceblue 1px solid;
    float: left;
}

.mainMenuButton:hover {
    background-color: rgba(244, 179, 80, 0.7);
}