<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../static/css/reward.css" th:href="@{/css/reward.css}">
    <title>Milionerzy 2021</title>
</head>
<body>

<div class="center">
    <h2>WYGRANA:</h2>
    <h1 th:text="*{prize}" />
    <form action="#" id="formFinish" method="post" th:action="@{/}">
        <button type="submit" class="mainMenuButton" id="continue" name="indexButton"><h3>Kontynuuj</h3></button>
    </form>
</div>

</body>
</html>